# config/bootloaders/isolinux/menu.cfg
#
# vesamenu.c32 styling for the Shikshan Mantra OS BIOS boot menu.
# Colors mirror branding/tokens.json:
#   primary         #0E4F88  (sidebar / title bar)
#   secondary       #F2A900  (selected entry highlight)
#   background_dark #0B1620  (menu background)
#   surface         #FFFFFF  (default text)
#
# Pattern: "menu color <element> <ansi-fg> <argb-fg-hex> <argb-bg-hex> <shadow>"
# See https://wiki.syslinux.org/wiki/index.php?title=Comboot/menu.c32

menu title Shikshan Mantra OS

menu background splash.png

menu color screen        37;40   #80ffffff #00000000 std
menu color border        30;44   #ff0e4f88 #ff0b1620 std
menu color title          1;36;44 #fff2a900 #ff0e4f88 std
menu color sel            7;37;40 #ff0b1620 #fff2a900 all
menu color unsel         37;44   #ffffffff #ff0b1620 std
menu color help          37;40   #ffd9d2c0 #ff0b1620 std
menu color timeout_msg   37;40   #ffd9d2c0 #ff0b1620 std
menu color timeout       1;37;40 #fff2a900 #ff0b1620 std
menu color cmdmark        1;36;40 #ffffffff #ff0b1620 std
menu color cmdline        37;40  #ffffffff #ff0b1620 std

menu width 78
menu margin 4
menu rows 8
menu tabmsgrow 18
menu cmdlinerow 18
menu endrow 24
menu passwordrow 11
menu timeoutrow 16

menu tabmsg Press ENTER to boot or TAB to edit a menu entry
